body{
  font-family: "Montserrat";
  font-weight:400;
  text-align: center;/* we can make remaining text align centres to comments if we add this-*/
}
 h1,h2,h3{
  font-family: "Montserrat";
}
html {
 scroll-behavior: smooth;
}

p{
  color: grey;
}

/* headings */
.big-heading{ /* ede h1*/
  font-weight: 550;
  font-size: 3rem;
  line-height: 1.5;
}

#title{
  background-color:#ff4c68;
  color:#fff;
  text-align: left;
}
#title .container-fluid{ /*chala containers vunnapudu specific ga ela mention cheyochu madhyalo gap pacca vundali*/
  padding: 3% 15% 8%;
}

/* navbar */
.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* download buttons */
.download-button{
  margin: 3% 5% 3% 0;
}

/* title image */
.title-image{
  width:20%;

  /*ekada image size penchithe img yokka div ki class ichi adi relative ga ani rayali*/
  /* width: 300px;
  height: 500px; */

  transform: rotate(25deg); /*image rotation ki edi vadochu*/
  margin-left: 200px;
  position: absolute;
}

/* .title-image-container{
  height:400px;
  /* edi rayakapothe niku mobile lo responsive ga vundadu ,because separate ga div ki height ledu kabbati pacca evali adi */

/* features section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position:relative;
  /* z-index: 1; */
  /* z-index:1; edi vunna lekapoyina same jarugutadi*/
}
.feature-box{
  /* text-align: center; */
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.feature-title{
  font-size: 1.5rem;
}

/* testimonials section */
#testimonials{
  /* text-align: center; */
  background-color:#ef8172;
  color:#fff;
}
.testimonial-image{
  border-radius: 100%;
  margin-top: 2rem;
  width: 20%;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  margin:5% 25% 0 25%;
}

/* press section */
#press{
  background-color:#ef8172;
  /* text-align: center; */
  padding-bottom: 3%;
  padding-top: 3%;

}
.press-logo{
  margin-right: 2rem;
  width: 10%;
}

/* pricing section */
.pricing-text{ /*we also do text align centre*/
  margin:0 0 0 0;
  font-size: 3rem;
}
#pricing{
  padding: 100px;
  /* text-align: center; */
}
.prices-heading{
  margin-top: 0;
  font-size: 3rem;
  line-height: 1.5;
}
/*.pricing-text { text align rayakapothe edi vadochu
  margin:0 25% 2% 25%;
}*/
.pricing-coloumn{
  padding: 3% 2%;
}
/* cta section */
#cta{
  background-color: #ff4c68;
  /* text-align: center; */
  color: #fff;
  padding: 7% 15%;/* edi ekada vuntene btter lekapothe text ki buttons ki gap vastadi*/
}
.cta-text{  /*here we can simply write big heading as it is same as(values anni same icham anduke) h1 which is big heading*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */
#footer{
  padding: 7% 15%;
  /* text-align: center; */
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1080px) {
#title{
  text-align: center;
}
.title-image{
  position: static;
  transform: rotate(0deg);
  width: 200px;
  margin-left:35px;
}
}
